# 剔除仓库配置相关文件和文件夹
.gitignore
.git/
# 剔除项目临时文件夹
__pycache__/
releases/
tools/
test/
backup/
# 自定义剔除文件列表
*.sublime-workspace
*.sublime-project
test.py
build/
dist/
*.spec
maintain_scripts/
old_versions/
schema_*/
词典/*
!词典/现代汉语词典（第七版）.txt
!词典/教育部重編國語辭典（第五版）.txt
